<html>
<head>
  {% block head %}
    <title>Histogramas - Enem - {% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" type="text/css" href="static/css/histogram.css"> -->
  {% endblock %}
</head>
<body>

  {% block content %}{% endblock %}

</body>
</html>