<html>
<head>
  {% block head %}
    <title>Histogramas - Enem - {% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" type="text/css" href="static/css/histogram.css"> -->
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  {% endblock %}
</head>
<body>

  {% block content %}{% endblock %}

</body>
</html>