{% extends "histograms/layout.jinja2" %}

{% block title %}
  {{ score_sheet.year }} - {{ institution.name }}
{% endblock %}

{% block content %}

<h1>Histogramas - Enem - {{ score_sheet.year }} - {{ institution.name }}</h1>

<style type="text/css">
  .table { margin-bottom: 50px; }
  .table td { vertical-align: bottom !important; text-align: center }
  .bar { background-color: blue; width: 100% }
</style>


{% for field in ["cn", "ch", "lc", "mt"] %}
  <table class="table">
    <caption>{{field}}</caption>
    <tr>
      {% for score_range in score_sheet[field] %}
        <td><div class="bar" style="height: {{ score_range / 100 }}px"></td>
      {% endfor %}
    <tr>
      {% for score_range in score_sheet[field] %}
        <td>{{ score_range }}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>0-99</th>
      <th>100-199</th>
      <th>200-299</th>
      <th>300-399</th>
      <th>400-499</th>
      <th>500-599</th>
      <th>600-699</th>
      <th>700-799</th>
      <th>800-899</th>
      <th>900-1000</th>
    </tr>
  </table>
{% endfor %}

{% endblock %}