h1, h2, .city-selector {
  margin: 0.8em 0;
  text-align: center;
}

#select_city, #s2id_select_city {
  width: 650px;
}

.city-selector {
  margin-bottom: 50px;
}

.error {
  color: red;
}

.error, .loader {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.graphic {
  width: 100%;
}

@media (min-width: 800px) {
  .graphic {
    float: left;
    margin: 0 2% 50px 0;
    width: 48%;
  }  
}
